$media_queries: (
  'sm': 35.5em,
  'md': 48em,
  'lg': 64em,
  'xl': 80em,
);

[class*='pure-u'] {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

@each $key, $width in $media_queries {
  @media screen and (min-width: $width) {
    @for $i from 1 through 5 {
      .pure-u-#{$key}-#{$i}-5 {
        width: calc(#{$i} / 5 * 100%);
      }
    }
    @for $i from 1 through 24 {
      .pure-u-#{$key}-#{$i}-24 {
        width: calc(#{$i} / 24 * 100%);
      }
    }
  }
}
